 body {
     font-family: Arial;
     text-align: center;
     margin-top: 50px;
 }

 input,
 button {
     padding: 10px;
     font-size: 16px;
     background-color: white;
 }

 #output {
     margin-top: 20px;
     white-space: pre;
     font-size: 18px;
 }

 