body {
    font-family: Arial, Helvetica, sans-serif;
    background: greenyellow;
    height: 100vh;
    margin: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* Calculator Box */
.container {
    background: white;
    padding: 30px;
    border-radius: 10px;
    width: 350px;
    text-align: center;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

/* Heading */
h2 {
    margin-bottom: 20px;
}

/* Input box */
input {
    width: 80%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Button */
button {
    padding: 10px 20px;
    border: none;
    background: #a203ab;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #e1aa05;
}

/* Result text */
#result {
    margin-top: 20px;
    font-weight: bold;
    font-size: 18px;
}

/* Student Info (Name + Roll No) */
.student-info {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
}

.student-info h3 {
    margin: 5px;
}

.student-info p {
    margin: 0;
    color: gray;
}